<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>预订</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body ontouchstart="">
    <div class="m-list top-bar">
        <div class="area-select">
            <p class="name">北京</p>
            <select name="" id="">
                <option value=""></option>
            </select>            
        </div>
        <p class="m-control">
            <a class="cur" href="###">按课程</a>
            <a href="###">按老师</a>
        </p>
    </div>

    <ul class="m-list grade-list">
        <li>
            <a href="###"><i class="icon-course"></i><b>初二</b></a>
        </li>
    </ul>

    <ul class="m-list grade-list">
        <li>
            <a href="###"><i class="icon-course"></i><b>高二</b></a>
        </li>
    </ul>

    <nav class="nav-bar">
        <ul>
            <li class="booking cur"><a href=""><i></i><b>预约</b></a></li>
            <li class="order"><a href=""><i></i><b>订单</b></a></li>
            <li class="my"><a href=""><i></i><b>我的帐号</b></a></li>
        </ul>
    </nav>
    <script src="../js/lib/zepto.js"></script>
    <script src="../js/base.js"></script>
</body>
</html>
