<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>选择课程</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body class="course" ontouchstart="">
    <div class="m-list top-bar">
        <h2>初二</h2>
    </div>

    <ul class="m-list course-list">
        <li>
            <i class="icon-math"></i>
            <div class="info">
                <p class="name">数学</p>
                <p class="price">价格: 180/课时</p>
            </div>
            <a href="###" class="m-btn btn-booking">预订</a>
        </li>
        <li>
            <i class="icon-math"></i>
            <div class="info">
                <p class="name">数学</p>
                <p class="price">价格: 180/课时</p>
            </div>
            <a href="###" class="m-btn btn-booking">预订</a>
        </li>
    </ul>

    <p class="no-more">其他课程敬请期待</p>

    <nav class="nav-bar">
        <ul>
            <li class="booking cur"><a href=""><i></i><b>预约</b></a></li>
            <li class="order"><a href=""><i></i><b>订单</b></a></li>
            <li class="my"><a href=""><i></i><b>我的帐号</b></a></li>
        </ul>
    </nav>
    <script src="../js/lib/zepto.js"></script>
    <script src="../js/base.js"></script>
</body>
</html>
