<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>我的课程</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body class="order" ontouchstart="">
    <div class="m-list top-bar">
        <p class="m-control">
            <a class="cur" href="###">进行中</a>
            <a href="###">已完成</a>
            <a href="###">已取消</a>
        </p>
    </div>

    <ul class="m-list order-list">
        <li>
            <p>初中数学 共5课时 剩余3课时</p>
            <p>张老师<span class="time">2015-03-16 12:30</span></p>
        </li>
    </ul>


    <nav class="nav-bar">
        <ul>
            <li class="booking"><a href=""><i></i><b>预约</b></a></li>
            <li class="order cur"><a href=""><i></i><b>订单</b></a></li>
            <li class="my"><a href=""><i></i><b>我的帐号</b></a></li>
        </ul>
    </nav>
    <script src="../js/lib/zepto.js"></script>
    <script src="../js/lib/fastclick.js"></script>
    <script src="../js/base.js"></script>
</body>
</html>
