<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>预订</title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body class="teacher" ontouchstart="">
    <div class="teacher-info">
        <img src="http://placehold.it/640x532" alt="">
        <ul>
            <li>张老师<span>35岁</span></li>
            <li>本科毕业<span>博学认证教师</span></li>
            <li>带过两个毕业班</li>
        </ul>
    </div>
    <div class="teacher-intro">
        <dl>
            <dt>博学认证教师</dt>
            <dd>经过 BXZZ 体系考核资格认证教师</dd>
        </dl>
    </div>

    <nav class="bottom-fix">
        <a href="###" class="m-btn m-btn-large">下一步</a>
        <a href="###" class="help"><i class="icon-help"></i></a>
    </nav>
    <script src="../js/lib/zepto.js"></script>
    <script src="../js/lib/fastclick.js"></script>
    <script src="../js/base.js"></script>
</body>
</html>
